extends layout

block content
  h1(style='text-align:center;')
    | Hello
  div(class='six columns offset-by-five')
    blockquote
      | Learning how to learn is life's most important skill
      cite Tony Buzan

