extends layout

block content
  h1(style='text-align:center;')
    | Welcome
  img(src='http://i.imgur.com/qY5Bp.png', class='scale-with-grid')
  div(class='six columns offset-by-five')
    blockquote
      | Learning how to learn is life's most important skill
      cite Tony Buzan
  div(class='eight columns offset-by-four')
    br(class='add-bottom')
    h2
      | Who am I?
    p.
      I am simply someone who likes to learn and
      create, usually, but not neccessarily in
      that order. The process of taking something
      so abstract as an idea in my head and then
      slowly turning it into reality is one that
      I find deep fascination and reward in.
    hr(class='add-bottom')
    h2
      | What is this?
    p.
      This is a collection of everything I have created,
      an exibition of sorts of things I am proud to say came
      from my own hand. I have always delighted in being
      creative, yet never took the time to properly organise
      the fruit of my labour. As a result many of the things
      have been lost to time and general disorganisation. 
    p.
      This site aims to remedy that. Every thing will be 
      stored here
    