extends layout

block content
  h1(style='text-align:center;')
    | Welcome
  img(src='/images/zen.png', class='scale-with-grid', style='margin:0 auto;display:block;')
  div(class='six columns offset-by-five')
    blockquote
      | Learning how to learn is life's most important skill
      cite Tony Buzan
  div(class='eight columns offset-by-four')
    br(class='add-bottom')
    h2
      | Who am I?
    p.
      I am simply someone who likes to learn and
      create, usually, but not neccessarily in
      that order. The process of taking something
      so abstract as an idea in my head and then
      slowly turning it into reality is one that
      I find deep fascination and reward in.
    p: em.
      I am not only a web developer, it is simply
      another way of showing my creativity

    hr(class='add-bottom')
    h2
      | What is this?
    p.
      This is a collection of most of my learnings and creations,
      an exibition of sorts of things I am proud to say came
      from my own hand, and the process involved in getting
      there.
    hr(class='add-bottom')
    