doctype html
html(ng-app)
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/images/favicon.ico')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
  body
    div(class='container')
      div(class='sixteen columns')
        h1(style='margin-top:40px;')
          a(href='/', style='text-decoration:none;') 
            | The Work of Lombe
      hr(class='nav')
      div(class='one-third column')
        h3(class='remove-bottom', style='text-align:center;')
          a(href='/musings/', style='text-decoration:none')
            | Musings
      div(class='one-third column')
        h3(class='remove-bottom', style='text-align:center;')
          a(href='/projects/', style='text-decoration:none')
            | Projects
      div(class='one-third column')
        h3(class='remove-bottom', style='text-align:center;')
          a(href='/contact/', style='text-decoration:none')
            | Contact
      hr(class='nav add-bottom')
      block content
    script(src="/javascript/libraries/angular.min.js")
    script(src="/javascript/script.js")