extends layout

block content
  h1(style='text-align:center;')
    | Musings
  article
    h2
      | Article title
    h1(class='timestamp subheader', style='float:left;')
      | 10:32 1/5/14
    p.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat pellentesque magna eget ornare. Mauris elementum turpis sit amet velit mattis, sed elementum lacus lobortis. Etiam imperdiet, quam ac suscipit adipiscing, enim nisi porta nisl, at adipiscing ipsum risus sed sem. Praesent a odio hendrerit, commodo mauris eget, ullamcorper eros. Curabitur sollicitudin viverra eleifend. Sed varius sapien a ligula rutrum, pellentesque malesuada velit consectetur. Praesent molestie nisi sit amet tellus consectetur, in malesuada est commodo. Aliquam dolor nisl, cursus eu scelerisque ut, vestibulum eget enim. Suspendisse faucibus consectetur auctor. Nunc placerat nunc nisl, in vestibulum eros tincidunt sit amet. In sit amet leo ornare, sagittis purus vel, hendrerit purus. Pellentesque lorem lorem, rhoncus in vulputate ac, semper eget turpis. Integer elementum in erat eget fringilla. Sed et massa et arcu convallis viverra id a odio.
