/*
############
COLOR SCHEME
############
DARK : #1C1D21
MID : #31353D
BLUE : #445878
AQUA : #92CDCF
LIGHT : #EEEFF7
*/
@font-face {
  font-family: "BebasNeue";
  src: url('../fonts/BebasNeue Regular.otf') format('opentype');
}
  h1, h2, h3, h4, h5, h6 {
  font-family: "BebasNeue","Verdana", "Arial", sans-serif;
  font-weight: normal; 
}
hr {
  margin: 7px 0 7px 0;
}
article {
  position: relative;
}
.timestamp {
  position: absolute;
  top:0;
  right: 0;
}
table{
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 100%;
}
table td{
  border: 1px solid #ddd;
  padding: 5px;
}